<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img
            class="profile-img"
            src="{{item.img}}"
            data-edit="img"
            title="{{item.name}}"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                    name="name"
                    type="text"
                    value="{{item.name}}"
                    placeholder="Name"
                />
            </h1>
            <div class="grid grid-2col">
                <div class="resource">
                    <label class="resource-label">Quantity</label>
                    <input
                        type="text"
                        name="data.quantity"
                        value="{{data.quantity}}"
                        data-dtype="Number"
                    />
                </div>
                <div class="resource">
                    <label class="resource-label">Weight</label>
                    <input
                        type="text"
                        name="data.weight"
                        value="{{data.weight}}"
                        data-dtype="Number"
                    />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="data">Data</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description"
            rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Data Tab --}}
        <div class="tab data" data-group="primary" data-tab="data">
            <div class="flexrow flex-group-center" style="margin: 10px 0">
                <div class="flexrow flex-group-center align-left">
                    <input
                        type="checkbox"
                        name="data.equipped"
                        {{checked
                        data.equipped}}
                    />
                    <label>Equipped</label>
                </div>
                <div class="flexrow flex-group-center align-left">
                    <input
                        type="checkbox"
                        name="data.expertise"
                        {{checked
                        data.expertise}}
                    />
                    <label>Expertise</label>
                </div>
            </div>
            <div class="resource" style="margin: 10px 0">
                <label class="resource-label align-left"
                    >Attack bonus attribute</label
                >
                <input
                    type="text"
                    name="data.weaponAttackAttribute"
                    value="{{data.weaponAttackAttribute}}"
                    data-dtype="String"
                />
            </div>
            <div
                class="resource flexrow flex-group-center align-left"
                style="margin: 10px 0"
            >
                <input
                    type="checkbox"
                    name="data.customAttackFormula"
                    {{checked
                    data.customAttackFormula}}
                />
                <label class="resource-label">Custom attack formula</label>
            </div>
            <div class="resource">
                <label class="resource-label">Attack roll Formula</label>
                <input
                    type="text"
                    name="data.formula"
                    value="{{data.formula}}"
                    data-dtype="String"
                />
            </div>
            <div class="grid grid-2col" style="margin: 10px 0">
                <div class="resource">
                    <label class="resource-label">Damage bonus attribute</label>
                    <input
                        type="text"
                        name="data.weaponDamageAttribute"
                        value="{{data.weaponDamageAttribute}}"
                        data-dtype="String"
                    />
                </div>
                <div class="resource">
                    <label class="resource-label">Damage die</label>
                    <input
                        type="text"
                        name="data.damageDie"
                        value="{{data.damageDie}}"
                        data-dtype="String"
                    />
                </div>
            </div>
            <div
                class="resource flexrow flex-group-center align-left"
                style="margin: 10px 0"
            >
                <input
                    type="checkbox"
                    name="data.customDamageFormula"
                    {{checked
                    data.customDamageFormula}}
                />
                <label class="resource-label">Custom damage formula</label>
            </div>
            <div class="resource">
                <label class="resource-label">Damage roll Formula</label>
                <input
                    type="text"
                    name="data.damageFormula"
                    value="{{data.damageFormula}}"
                    data-dtype="String"
                />
            </div>
        </div>
    </section>
</form>
